.ui-resizable {
	padding: 15px;
	padding-left: 45px;
	padding-bottom: 45px;
	border: 1px solid #EEEEEE;
}

.ui-widget {
	font-size: 80%;
}

.olMapWrapper {
	height: 100%;
	width: 100%;
}

.panZoom {
	
}

.scaleLine {
	font-size: 70%;
	position: absolute;
	left: 60px;
	bottom: 0;
}

.mousePosition {
	font-size: 70%;
	position: absolute;
	right: 20px;
	bottom: 0;
}

.helpText {
	font-size: 90%;
	position: absolute;
	right: 20px;
	bottom: 1em;
}

.ui-resizable-helper { 
	border: 1px dotted gray; 
}

.resultsFound {
	top: 0;
	position: absolute;
	height: 100%;
	width: 60%;
}
div.featureResults {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: .9em;
	height: 70%;
}

.featureResults p {
	margin: 7px;
}

.olMapFeaturePopup {
	font-size: 90%;
}

div.featureResultContainer {
	height: 100%;
	overflow: auto;
	font-size: 80%;
	border-top: 1px solid #8888FF;
	margin-top: 10px;
}


.featureList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.featureItem {
	margin: 3px;
	padding: 0.4em;
	border-bottom: 1px solid #F2F2F2;
}
.featureItem:hover {
	background-color: #F4F4F3;
}

div.featureHandle {	
	float: left;
	width: 2em;
	cursor: pointer;
}

div.featureLegend {
	height: 1em;
	width: 1.2em;
	border: 1px solid #F2F2F2;
}

div.featureHandle a {	
	font-size: 60%;
}


.type_WGI_points .featureLegend {
	background-color: #00C8C8;
}

.type_glimsquery .featureLegend {
	background-color: #FF3491;
}

.type_FOG_points .featureLegend {
	background-color: #C86432;
}

div.featureContainer {
	margin-left: 2em;
}

h3.glacierID {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

p.glacierSummary {
	margin: 0;
	padding: 0;
	font-size: .9em;
}

p.glacierLinks {
	margin: 0;
	padding: 0;
	font-size: .9em;
}
